// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question{
width: 300px;
padding: 4px;
border-left: 2mm solid #DDDEDD;
margin-bottom: 10px;

}

.answer{
background-color: #FEFFE1;
width: 300px;
padding: 4px;
border-left: 2mm solid #DDDEDD;
}

.btn-blue{
  background-color: #508DC0;
  color: white;
  border: none;
  margin-left: -7px;
  padding: 6px;
  border-radius: 0px 5px 5px 0px;
}

.search-bar{
  padding: 4px;
}
